main {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

/* ------ Introduction ------- */

#intro {
  position: relative;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.bg-heading-intro {
  top: 30px;
}

.bg-sub-heading-intro {
  top: 50px;
}

.intro__button {
  width: fit-content;
}

.intro__image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ------ Main ------ */

#main {
  position: relative;
  margin-top: 100px;
}

.main__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 150px;
}

.main__grid-container p {
  text-align: justify;
}

.main__grid-container h2 {
  font-family: "Rozha One", serif;
}

.main__image {
  width: 100%;
  height: auto;
  margin: 0;
  border-radius: 5px;
}

.main__image:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all ease 0.3s;
}

#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 7px;
}

/* ------ Conclusion ------ */

#conclusion {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 20px;
  padding-top: 80px;
}

.bg-heading-conclusion {
  top: 100px;
}

.bg-sub-heading-conclusion {
  top: 120px;
}

.conclusion__text-container {
  padding-top: 80px;
  text-align: justify;
}

.conclusion__image-container {
  z-index: 5;
  text-align: center;
  padding-top: 20px;
}

.conclusion__image-container img {
  width: 80%;
  height: auto;
  border-radius: 13%;
}

/** ------ Media Queries ------ */

@media all and (max-width: 800px) {

  header {
    display: block;
    text-align: center;
  }

  .navigation-list {
    text-align: center;
    font-size: var(--font-size-small);
  }

  .bg-heading {
    font-size: 6rem;
  }

  .bg-sub-heading {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.4em;
  }

  #intro {
    width: 100%;
  }

  .bg-sub-heading-intro {
    top: 40px;
  }

  .main__grid-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .main__grid-item3 {
    order: 4;
  }

  .main__grid-item4 {
    order: 3;
  }

  .main__grid-item5 {
    order: 5;
  }

  .main__grid-item6 {
    order: 6;
  }

  .main__grid-item7 {
    order: 7;
  }

  .main__grid-item8 {
    order: 8;
  }

  #conclusion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0;
    width: 100%;
    padding-top: 50px;
  }

  .conclusion__image-container {
    padding-top: 50px;
  }

  .bg-heading-conclusion {
    top: 50px;
  }

  .bg-sub-heading-conclusion {
    top: 65px;
  }

  #conclusion {
    display: block;
  }

  .conclusion__image-container img {
    width: 40%;
    height: auto;
    border-radius: 5px;
  }

  .conclusion__text-container {
    padding-top: 30px;
  }

}

@media all and (max-width: 500px) {

  img.header-item {
    transform: scale(0.8);
  }

  .navigation-list {
    text-align: center;
    font-size: var(--font-size-small);
  }

  .bg-heading {
    font-size: 4rem;
  }

  .bg-sub-heading {
    font-size: 1rem;
  }

  .bg-heading-main {
    top: 10px;
  }

  #main .bg-sub-heading {
    top: 20px;
  }

  main {
    width: 90%;
  }

  #main {
    margin-top: 60px;
  }

  .main__grid-container {
    padding-top: 50px;
  }
}