/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ------ General rules ------ */

:root {
  --primary-bg-color: #f1eeec;
  --secondary-bg-color: white;

  --primary-text-color: #373535;

  --accent-color: #F08718;

  --font-size-default: 16px;

  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;
  --font-size-h4: 18px;

  --font-size-small: 14px;

  --font-weight-primary: 200;
  --font-weight-secondary: 400;
  --font-weight-tertiary: 300;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: "Kanit", sans-serif;
  font-weight: var(--font-weight-primary);
  font-style: normal;
  margin: 0;
  font-size: var(--font-size-default);
  line-height: 1.2em;
}

h1 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h1);
  font-family: 'Rozha One', serif;
}

h2 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h2);
  font-family: 'Rozha One', serif;
}

h3 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h3);
  font-family: 'Rozha One', serif;
}

a {
  text-decoration: none;
  color: var(--links-color);
  font-weight: bolder;
}

a:visited {
  color: var(--links-color);
}

a:hover {
  cursor: pointer;
  color: var(--links-hover-color);
}

.button-main {
  background-color: white;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
  padding: 5px 12px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: var(--font-size-h4);
  font-family: 'Rozha One', serif;
  color: #373535;
}

.button-main:hover {
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  scale: 1.1;
}

.accent-font-color {
  color: var(--accent-color);
}


/* ------ Header ------ */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: var(--secondary-bg-color);
  z-index: 1000;
  width: 100%;
  -webkit-box-shadow: 0 3px 15px -2px rgb(187, 187, 187, 0.2);
  box-shadow: 0 3px 15px -2px rgb(187, 187, 187, 0.2);
}

.header-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

img.header-item {
  width: auto;
  height: 40px;
}

nav.header-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  padding: 0 10px 0 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 20px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navigation-list li a {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-tertiary);
}

.navigation-list li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-heading {
  font-size: 8rem;
  margin: 0;
  color: var(--primary-bg-color);
  position: absolute;
  top: 65px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  letter-spacing: 0.01em;
  font-family: 'Rozha One', serif;
}

.bg-sub-heading {
  font-size: 1.5rem;
  margin: 0;
  color: var(--primary-text-color);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  letter-spacing: 0.01em;
}

/* ------ Footer ------ */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background-color: rgba(241, 238, 236, 0.6);
  padding: 20px;
}

.page-footer p {
  font-weight: var(--font-weight-secondary);
}

.impressum {
  font-size: var(--font-size-small);
  color: var(--primary-text-color);
  opacity: 0.8;
}

.copyright {
  font-size: var(--font-size-small);
  color: var(--primary-text-color);
  opacity: 0.8;
}

/* ------ Home ------ */

#home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.home__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 20px;
}

.home__picture {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.home__greeting {
  font-size: 2.5em;
}

.home__text-container {
  position: relative;
  text-align: justify;
  padding-left: 10%;
  margin-top: 2em;
}

.home__vertical-lettering {
  position: absolute;
  left: -70px;
  top: 50%;
  -webkit-transform: rotate(90deg) translateY(-50%);
  -ms-transform: rotate(90deg) translateY(-50%);
  transform: rotate(90deg) translateY(-50%);
  letter-spacing: 8px;
  font-size: 1rem;
  z-index: 3;
}

.hr-accent {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: var(--accent-color);
  vertical-align: middle;
  margin: 0 5px;
  border: none;
}

.hr-primary {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: var(--primary-text-color);
  vertical-align: middle;
  margin: 0 5px;
  border: none;
}

/* ------ About ------- */

#about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
}

.about__grid-container-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px 2fr;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 20px;
  margin-top: 50px;
}

.about__grid-container-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 20px 3fr;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 20px;
  -ms-grid-column-align: center;
  justify-self: center;
}

.about__vertical-lettering {
  position: absolute;
  left: -110px;
  top: 280px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 8px;
  font-size: 1rem;
  z-index: 3;
}

.about__text-container {
  text-align: justify;
  margin-top: 10px;
  padding: 10px;
}

.about__image {
  position: relative;
  width: 90%;
  border-radius: 10px;

  z-index: 1;
}

/* ------ Toolkit ------ */

#skills {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  margin-top: 80px;
}

.skills__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  /*0.6fr 0.4fr;*/
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 20px;
  margin-top: 120px;
}

.skills__text-container {
  text-align: justify;
  padding-left: 10%;
}

.skills__picture {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 8px rgba(92, 88, 86, 0.2);
  box-shadow: 5px 5px 8px rgba(92, 88, 86, 0.2);
  position: relative;
  top: -50px;
  border-radius: 10px;
}

.skills__vertical-lettering {
  position: absolute;
  left: -115px;
  top: 130px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 8px;
  font-size: 1rem;
  z-index: 3;
}

.skills__skills-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: left;
}

.skills__skills-grid p {
  color: var(--accent-color);
  padding: 0 20px;
}

.skills__skills-grid ul {
  list-style-type: none;
  padding: 0 20px;
}

.skills__skills-grid li {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f6f3f0;
  border-radius: 7px;
  /* border: solid 2px var(--primary-bg-color); */
  margin: 5px;
}

.skills__grid-item {
  border-width: 1px;
  border-radius: 10px;
  border: solid 2px #f1eeec;
  text-align: center;
}

/* ------ Work ------ */

#projects {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/grain.gif");
  margin-top: 100px;
}

#projects .bg-heading {
  color: var(--accent-color);
  opacity: 0.7;
  top: 110px;
}

#projects .bg-sub-heading {
  top: 130px;
}

.projects__grid-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80%;
  position: relative;
  z-index: 2;
  padding: 20px;
  margin-top: 150px;
}

.projects__grid-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  min-height: auto;
  padding: 30px;
  margin: 80px auto;
  background-color: white;
  -webkit-box-shadow: 5px 5px 8px rgba(92, 88, 86, 0);
  box-shadow: 5px 5px 8px rgba(92, 88, 86, 0);
  border-radius: 10px;
}

.projects__grid-item:hover {
  -webkit-box-shadow: 5px 5px 8px 5px rgba(92, 88, 86, 0.2);
  box-shadow: 5px 5px 8px 5px rgba(92, 88, 86, 0.2);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.projects__image-container img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 8px rgba(92, 88, 86, 0.2);
  box-shadow: 5px 5px 8px rgba(92, 88, 86, 0.2);
}

.projects__description-container {
  text-align: justify;
  padding: 0;
}

.projects__live-link {
  text-align: right;
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects__live-link:hover {
  cursor: pointer;
  scale: 1.1;
}

.projects__vertical-lettering {
  position: absolute;
  left: -110px;
  top: 10%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 8px;
  font-size: 1rem;
  z-index: 3;
}

.chatterbox-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.chatterbox-images img {
  width: 35%;
  height: auto;
  margin: 0;
}

/* ------ Contact ------ */

#contact {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
}

.contact__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  position: relative;
  z-index: 2;
  width: 80%;
  padding: 20px;
  margin-top: 150px;
}

.contact__grid-item {
  margin-bottom: 80px;
  text-align: left;
  margin: 0 auto;
}

.contact__grid-item>div {
  padding-left: 20px;
}

.contact__vertical-lettering {
  position: absolute;
  left: -130px;
  top: 40%;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  letter-spacing: 8px;
  font-size: 1rem;
  z-index: 3;
}

.email-link {
  color: var(--accent-color);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.email-link:hover {
  cursor: pointer;
  scale: 1.1;
}

label,
input,
textarea {
  margin-bottom: 10px;
}

input,
textarea {
  border-width: 1px;
  border-radius: 5px;
  border-color: var(--primary-text-color);
  background-color: white;
  width: 250px;
}

input {
  height: 30px;
}

form p {
  margin-top: 0;
  font-size: small;
  padding: 0;
  text-align: left;
}

#contact-form input,
textarea {
  border: var(--primary-bg-color) solid 1.5px;
}

#contact-form input:focus,
textarea:focus {
  border: var(--accent-color) solid 1.5px;
}

#contact-form .button-main {
  color: var(--primary-text-color);
  border-color: var(--accent-color);
  text-align: center;
  border-width: 2px;
}

/* ------ Media Queries ------ */

@media all and (max-width: 410px) {
  img.header-item {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    width: 350px;
    height: auto;
  }

  h1 {
    font-size: 1.4em;
  }

  .bg-heading {
    font-size: 4rem;
  }

}

@media all and (max-width: 800px) {

  header {
    display: block;
    text-align: center;
  }

  .navigation-list {
    text-align: center;
    font-size: var(--font-size-small);
  }

  .bg-heading {
    font-size: 6rem;
  }

  h1 {
    font-size: 1.4em;
  }

  .bg-heading {
    font-size: 5rem;
  }

  .home__grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .home__greeting {
    font-size: 1.5em;
  }

  .home__picture {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }

  .home__text-container {
    padding-left: 0;
  }

  .about__grid-container-top,
  .about__grid-container-bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .about__image {
    display: none;
  }

  .about__grid-container-bottom img {
    display: none;
  }

  .skills__skills-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .projects__grid-item {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .projects__image-container {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .projects__description-container {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .contact__grid-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 1200px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.3em;
    line-height: 1.4em;
  }

}