:root {
  --primary-bg-color: #f1eeec;
  --secondary-bg-color: white;

  --primary-text-color: #373535;

  --accent-color: #F08718;

  --font-size-default: 16px;

  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;
  --font-size-h4: 18px;

  --font-size-small: 14px;

  --font-weight-primary: 200;
  --font-weight-secondary: 400;
  --font-weight-tertiary: 300;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  font-family: "Kanit", sans-serif;
  font-weight: var(--font-weight-primary);
  font-style: normal;
  margin: 15px 0;
  font-size: var(--font-size-default);
  line-height: 1.2em;
}

h1 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h1);
  font-family: 'Rozha One', serif;
}

h2 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h2);
  font-family: 'Rozha One', serif;
}

h3 {
  font-weight: var(--font-weight-primary);
  font-size: var(--font-size-h3);
  font-family: 'Rozha One', serif;
}

a {
  text-decoration: none;
  color: var(--links-color);
  font-weight: bolder;
}

a:visited {
  color: var(--links-color);
}

a:hover {
  cursor: pointer;
  color: var(--links-hover-color);
}

.button-main {
  background-color: white;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--accent-color);
  padding: 5px 12px;
  transition: all 0.3s ease;
  font-size: var(--font-size-h4);
  font-family: 'Rozha One', serif;
  color: #373535;
  max-width: fit-content;
}

.button-main:hover {
  background-color: var(--secondary-bg-color);
  cursor: pointer;
  scale: 1.1;
}

.accent-font-color {
  color: var(--accent-color);
}


/* ------ Header ------ */

header {
  display: flex;
  padding: 20px;
}

.header-item {
  flex: 0 1 200px;
}

img.header-item {
  width: auto;
  height: 40px;
}

nav.header-item {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
  padding: 0 10px 0 0;
}

.navigation-list li {
  display: inline-block;
  margin-left: 20px;
  transition: all 0.5s ease;
}

.navigation-list li a {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-tertiary);
}

.navigation-list li:hover {
  transform: scale(1.1);
}

.bg-heading {
  font-size: 8rem;
  margin: 0;
  color: var(--primary-bg-color);
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  letter-spacing: 0.01em;
  font-family: 'Rozha One', serif;
}

.bg-sub-heading {
  font-size: 1.5rem;
  margin: 0;
  color: var(--primary-text-color);
  opacity: 1;
  position: absolute;
  top: 85px;
  left: 50%;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 1;
  letter-spacing: 0.01em;
}

main {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
}

/* ------ Introduction ------- */

#intro {
  position: relative;
}

.tools-container {
  padding-top: 100px;
  padding-bottom: 30px;
  color: var(--accent-color);
  text-align: center;
}

.tools-container span {
  background-color: var(--accent-color);
  color: white;
  padding: 7px;
  border-radius: 15px;
  line-height: 3em;
  font-size: small;
}

.bg-heading-intro {
  top: 30px;
}

.intro__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: justify;
}

.intro__video-container {
  width: 100%;
  margin: 0 auto;
}

video {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ------ Main ------ */

#main {
  position: relative;
  margin-top: 100px;
}

.main__grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 150px;
}

.main__grid-container p {
  text-align: justify;
}

.main__grid-container h2 {
  font-family: "Rozha One", serif;
}

.main__image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 50px 0;
}

.main__image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ------ Conclusion ------ */

#conclusion {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  gap: 20px;
  padding-top: 80px;
}

.bg-heading-conclusion {
  top: 100px;
}

.bg-sub-heading-conclusion {
  top: 120px;
}

.conclusion__text-container {
  padding-top: 80px;
  text-align: justify;
}

.conclusion__image-container {
  z-index: 10;
  text-align: center;
}

.conclusion__image-container img {
  width: 80%;
  height: auto;
  border-radius: 13%;
}

/** ------ Media Queries ------ */

@media all and (max-width: 800px) {

  header {
    display: block;
    text-align: center;
  }

  .navigation-list {
    text-align: center;
    font-size: var(--font-size-small);
  }

  .bg-heading {
    font-size: 6rem;
  }

  h1 {
    font-size: 1.4em;
  }

  .intro__text-container {
    display: block;
  }

  .main__grid-container {
    display: block;
  }

  .main__image-container {
    display: block;

  }

  .main__image-container img {
    margin: 5px;
  }

  #conclusion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0;
    width: 100%;
    padding-top: 50px;
  }

  .conclusion__image-container {
    padding-top: 50px;
  }

  .bg-heading-conclusion {
    top: 50px;
  }

  .bg-sub-heading-conclusion {
    top: 65px;
  }

}

@media all and (max-width: 500px) {

  img.header-item {
    transform: scale(0.8);
  }

  .navigation-list {
    text-align: center;
    font-size: var(--font-size-small);
  }

  .bg-heading {
    font-size: 4rem;
  }

  .bg-heading-main {
    top: 10px;
  }

  #main .bg-sub-heading {
    top: 20px;
  }

  main {
    width: 90%;
  }

  .tools-container {
    padding-top: 70px;
    padding-bottom: 10px;
  }

  #main {
    margin-top: 60px;
  }

  .main__grid-container {
    padding-top: 50px;
  }

  #conclusion {
    display: block;
  }

  .conclusion__text-container {
    padding-top: 30px;
  }
}